# If you modify this execute `zimfw uninstall & zimfw install`
zmodule zimfw/environment
zmodule zimfw/git-info
zmodule zimfw/history
zmodule zimfw/input
zmodule zsh-users/zsh-autosuggestions
zmodule zsh-users/zsh-syntax-highlighting
zmodule zimfw/completion

zhighlighters=(main brackets)
#zmodule denysdovhan/spaceship-prompt --name spaceship
#zmodule spaceship-prompt/spaceship-prompt --name spaceship
#zmodule spaceship-prompt/spaceship-prompt --name spaceship --no-submodule
zmodule joke/zim-starship
#eval "$(starship init zsh)"
